<a class="item">
  Sala de Chat
</a>
<a class="item">
  Mensajes
</a>
<div class="right menu">
  <div class="ui dropdown item">
    Account <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item">Cerrar sesión</a>
      <a class="item">Iniciar sesión</a>
      <a class="item">Registrarse</a>
    </div>
  </div>
  <div class="item">
      <div class="ui primary button">Sign Up</div>
  </div>
</div>
